extends base.pug

block content 
    h4 Change Title of video
    form(method="POST") 
        input(name="title", placeholder="Video Title", value=video.title, required) 
        // name="title"을 넣지 않으면 req.body에서 데이터를 볼 수 없으므로 꼭 넣어줘야함 //
        input(valute="Save", type="submit")
